.container_favorites {
  background-color: #ebe0d1;
  height: 100%;
  width: 40%;
  position: fixed;
  right: 0px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.list {
  text-transform: uppercase;
  font-size: 14px;
  padding: 10px 2px;
  margin: 22px 2px;
  border: 1px solid sandybrown;
  background: rgb(223, 183, 154);
  border-radius: 10px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: pre;
  font-size: 12px;
}

.fa-solid.fa-trash-can {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: white;
  width: 25px;
  height: 25px;
  border-radius: 90%;
  right: -97px;
  top: 17px;
  cursor: pointer;
}

@media all and(min-width: 768px) {
  .fa-solid.fa-trash-can {
    width: 30px;
    height: 30px;
    right: -100px;
    top: 17px;
  }

  .list {
    font-size: 17px;
  }
}
